

<div class="tools-index-container">
  <div class="left">
    <% @tools.each do |tool| %>

    <div class="card">

      <div class="img" ></div>
      <div class="info">
        <div id= "details">
          <p id ="category"> <%= tool.category %></p>
          <p id="tool-name"> <%= tool.tool_name %></p>
          <p id="tool-brand"> Brand: <%= tool.brand %></p>
          <p id="tool-vendor">Vendor: <%= tool.vendor_name %></p>
        </div>
      </div>


      <div class="insights">

        <% if tool.available %>
          <p id= "available"> available </p>
        <% else %>
          <p id= "unavailable"> not available </p>
        <%end %>

        <p id="rate"> <%= tool.daily_rate %> EUR PER DAY </p>

        <%= link_to "Tool details", tool_path(tool), class:"button" %>


      </div>


    </div>

    <% end %>

  </div>

  <div class="right">

    <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>

</div>
