<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1588291984877-091dd7667bec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80);">
    <h1>Our great <%= @tool.category%>!</h1>
  <div class="box">
    <h2>Starts at only <em><%= @tool.daily_rate %>€</em> per day</h2>
  </div>
</div>
<div class="show-page-container">
  <div class="left">
    <table class="table">
          <tbody>
            <thead>
              <th>Category</th>
              <th>Brand</th>
              <th>Available</th>
            </thead>
              <tr>
                <td><%= @tool.category %></td>
                <td><%= @tool.brand %></td>
                <td><%= @tool.available %></td>
              </tr>
          </tbody>
        </table>
        <h2> Description: </h2>
    <p> <%= @tool.description %> </p>
    <br>

  </div>

  <div class="right">
     <div class="form-wrapper" style="width: 400px; margin: 32px;">
      <%= simple_form_for [@tool, @rent] do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
</div>

<div>
<h2> Description: </h2>
    <p> <%= @tool.description %> </p>
    <br>

    <h2>Price:</h2>

    <h2>Review:</h2>

     <li>Location: <%= @tool.vendor_name %>
                  <%= @tool.street %>
                  <%= @tool.zipcode %>
                  <%= @tool.city %> </li>
</div>


